.page {
  background-image: var(--page-background);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: var(--bg-color);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  padding: 10px;
  margin-bottom: 41px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--title);
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  border: 1px solid transparent;
  padding: 1px 13px 5px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--title);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-button);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid var(--title);
}

.header-title {
  color: var(--title-color);
  font-size: var(--fs-clamp);
  text-shadow: 4px 4px 0 var(--text-shadow);
  line-height: 83%;
}

.title-decor {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--main-sub-title);
  background-color: var(--text-shadow);
}

.header-rec {
  position: absolute;
  right: 18px;
  top: 10px;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-shadow);
  display: var(--display-rec);
}

.header-rec::after {
  content: " ";
  position: relative;
  width: 9px;
  height: 9px;
  background-color: var(--text-shadow);
  box-shadow: 0px 0px 4px 3px rgba(255, 0, 112, 1);
  border-radius: 50%;
  margin-left: 10px;
  color: var(--text-shadow);
  display: inline-block;
  transform: translate(-15%, -23%);
}

.corner-container {
  position: relative;
}

.corner-container::before,
.corner-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--title);
  box-sizing: border-box;
}

.corner-container::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.corner-container::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.section {
  margin-bottom: 10px;
}

.section__conteiner-title {
  color: var(--title);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sub-title-section-weight {
  font-weight: 400;
}

.section__conteiner {
  padding: 0px 10px 0px 10px;
}

.section__article-list {
  margin-bottom: 51px;
}

.section-article {
  margin-bottom: 19px;
}

.section-gallery {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  margin-bottom: 42px;
}

.section-gallery img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-article__sub-title-margin {
  margin-bottom: 21px;
}

.paragraf {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-paragraf);
  margin-bottom: 10px;
}

.class-sub-title__paragraf {
  text-shadow: 2px 2px 0px var(--text-shadow);
  text-decoration: none;
}

.class-sub-title__paragraf:hover {
  border-bottom: 1px solid var(--color-paragraf);
  padding-bottom: 1px;
  cursor: pointer;
}

.class-sub-title__paragraf:focus-visible {
  outline: 1px solid var(--color-paragraf);
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.footer-title {
  color: var(--title-color);
  font-size: var(--fs-clamp);
  text-shadow: 2px 2px 0 var(--footer-title);
  line-height: 83%;
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    padding: 20px;
    margin-bottom: 60px;
  }

  .header-text {
    justify-self: end;
    max-width: 364px;
  }

  .header-title {
    justify-self: start;
    margin-left: -20px;
  }

  .corner-container::before {
    top: 20px;
    right: 20px;
  }

  .corner-container::after {
    bottom: 20px;
    left: 20px;
  }

  .header-rec {
    right: 29px;
    top: 20px;
  }

  .header__menu-list {
    top: 65%;
    left: 88%;
  }

  .section__conteiner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 0px 20px 0px 20px;
  }

  .section__conteiner-attention,
  .section__conteiner-concentrate {
    margin-bottom: 10px;
  }

  .section__conteiner-advice {
    margin-bottom: 10px;
  }

  .sub-title-section-weight {
    margin-bottom: 11px;
  }

  .section__conteiner-title {
    margin-bottom: 0px;
  }

  .section__conteiner-picter {
    grid-template-columns: 1fr;
    margin-bottom: 7px;
  }

  .section__conteiner-attention .section__article-list {
    grid-column: 1 / -1;
  }

  .section-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  figure img:first-child {
    grid-column: span 2;
  }

  figure img:nth-child(2) {
    grid-column: 3 / 3;
    grid-row: span 2;
  }

  figure img:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: span 2;
  }

  figure img:last-child {
    grid-column: span 2;
  }

  .footer {
    height: 100vh;
    min-height: 1024px;
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header-text {
    max-width: 491px;
  }

  .header__menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .section__conteiner {
    gap: 10px;
    margin-bottom: 2px;
  }

  .section__conteiner-attention .section__article-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__conteiner-advice {
    margin-bottom: 9px;
  }

  .section__conteiner-title {
    margin-bottom: 8px;
  }

  .section-article__sub-title-margin {
    margin-bottom: 18px;
  }

  .section-article {
    margin-bottom: 20px;
  }

  .section__article-list {
    margin-bottom: 47px;
  }

  .section__conteiner-picter {
    margin-bottom: 22px;
  }

  .section__conteiner-concentrate {
    margin-bottom: 15px;
  }

  .section-gallery {
    margin-bottom: 39px;
  }

  .footer {
    min-height: 768px;
  }
}